<?xml version="1.0"?>

<sws>
  <ServerName>SWS Stovell Web Server 1.0.0</ServerName>
  <Port>80</Port>
  <Webroot>C:\SWS\Webroot</Webroot>
  <MaxConnections>20</MaxConnections>
  <LogFile>C:\SWS\SWS.log</LogFile>
  
  <CGI>
    	<Extension>php</Extension>
	<Interpreter>C:\PHP\php.exe</Interpreter>
  </CGI>
  <CGI>
  	<Extension>pl</Extension>
	<Interpreter>C:\Perl\Perl.exe</Interpreter>
  </CGI>
  
  <IndexFile>index.htm</IndexFile>
  <IndexFile>index.html</IndexFile>
  <IndexFile>index.php</IndexFile>
  <IndexFile>index.pl</IndexFile>
  
  <AllowIndex>true</AllowIndex>
  
</sws>










